extends layout
block content
    - if(errorMessage)
        p Erro: #{errorMessage}

    div(class='box')
        form(action="/auth/authenticate", method="post")
            div
                input(type="email", name="email" class="button" placeholder="E-Mail Address")
            div
                input(type="password", name="password" class="button" placeholder="Password")
            div
                input(type="submit", value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent")
        <hr>
        <p>
            a(href='/auth/new') Sign In